*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.visualizzazione{
    display: flex;
    height: calc(100vh - 90px);
}
aside {
    background-color: #080B12;

    width: 230px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;

    padding: 20px 20px 0px;
}
aside .intestazione{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#logo img{
    width: 130px;
}
#logo .img{
    width: 28px;
    opacity: 0;
}
#home{
    display: flex;
    align-items: center;
    gap: 10px;
    
    border-left: #ADFF2F solid 3px;
}
#home img{
    width: 20px;
}
#cerca{
    display: flex;
    align-items: center;
    gap: 10px;

}
#cerca img{
    width: 20px;
}
#cerca p{
    color: #717171;
    font-size: 1em;
}
#libreria{
    display: flex;
    align-items: center;
    gap: 10px;

}
#libreria img{
    width: 20px;
}
#libreria p{
    color: #717171;
    font-size: 1em;
}
.playlist{
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-top: 20px;
}
.playlist h1{
    font-size: 1.2em;
}
.playlist .crea-playlist{
    display: flex;
    align-items: center;
    gap: 10px;
}
.crea-playlist button{
    background-color: #717171;
    border: none;
    width: 3em;
    height: 3em;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playlist p{
    font-size: 1em;
    color: #717171;
}
.playlist  ul {
    list-style: none;
}
.playlist  ul li{
    margin-bottom: 10px;
    color: #717171;
    font-size: 1em;
}
.aside-bottom {
    display: flex;
    flex-direction: column;

    padding-bottom: 8px;
    padding-top: 12px;
}

.aside-bottom .login{
    display: flex;
    align-items: center;
    justify-self: center;
    gap : 10px;

    padding-bottom: 12px;
}
.aside-bottom.login img{
    width: 1em;
}
.aside-bottom .login p{
    font-size: 1em;
}
.aside-bottom hr{
    color: #a3a3a3;
}
.aside-bottom .user{
    display: flex;
    align-items: center;
    justify-self: center;
    gap : 10px;
    padding-top: 12px;
}
.aside-bottom .login img{
    width: 1em;
}
.aside-bottom .login p{
    font-size: 1em;
    color: #a3a3a3;
}
.aside-bottom .user img{
    background-color: grey;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.aside-bottom .user p{
    font-size: 1em;
    font-weight: bold;
}
main{
    background-color: #141922;
    width: calc(100% - 230px);
    color: white;
    overflow-y: auto;
    /* position: relative; */
    padding: 0px 20px 20px;
}
.main-top{
    text-align: right;
    background-color: #080B12;
    padding: 20px 35px;

    height: 90px;
    width: calc(100% - 230px);
    position: fixed;
    top: 0px;
    right: 0px;
    

}
.main-top button{
    border: 3px white solid;
    padding: 15px 40px;
    border-radius: 50px;
    background-color: #080B12;
    color: white;
}
.main-center ul{
    margin-top: 90px;
    padding: 20px 0px;
    width: 100%;

    list-style-type: none;


    display: flex;
    justify-content: center;  
    flex-wrap: wrap;
    gap: 25px;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}
.main-bottom h1{
    color: white;
    font-size: 20px;
    padding: 20px 0px 0px 20px;
}

.first-album ,
.second-album ,
.third-album{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}  
.album {
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: calc(100% / 6 - 16px / 6 * 5);

    margin-bottom: 16px;
    /* max-width: 200px; */
}
.testo{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.artista{
    text-align: center;
    font-size: 12px;
    color: #a3a3a3;
}
.album .photo {
    margin-bottom: 16px;
}

.album .photo img{
    width: 100%;
}
.main-bottom .album .photo .cerchio{
    border-radius: 50%;
    object-fit: cover;
}
footer{
    width: 100%;
    height: 90px;
    background-color: #282828;
    position: fixed;
    bottom: 0px;

    padding: 10px;
    /* test */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .section-1{
    /* max- */width: 15%;
    border: 1px dashed black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 220px; */
}
.section-1 .testo ,
.section-1 .artista {
    text-align: start;
}
footer .section-2{
    max-width: 60%;
    border: 1px dashed black;
    color: white;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
   
}
.section-2 .control-buttons{
    display: flex;
    align-items: center;
    gap: 2em;
}
.section-2 .progress-music{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.section-2 .progress-bar{
    height: 4px;
    border-radius: 10px;
    width: 30%;
    background-color: #717171;


}
.progress{
    position: relative;
    height: 100%;
    width: 30%;
    background-color: white;
}
footer .section-3{
    /* max- */width: 15%;
    border: 1px dashed black;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
   /*  margin-right: 230px; */
   text-align: center;

}

.album-footer{
    display: flex;
    align-items: center;
    gap: 10px;

}
.img-foot{
    width: 50px;
    height: 50px;
}
.img-foot img{
    width: 100%;
}
.img-testo h1{
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.img-testo h2{
    color: #717171;
    font-size: 10px;
}
.icons{
    display: flex;
    gap: 15px;
}
@media screen and (max-width:992px) {

    .album {
        width: calc(100% / 4 - 16px / 4 * 3);
    }

}
@media screen and (max-width:768px) {
    .album {
        width: calc(100% / 2 - 16px / 2);
    }
}
@media screen and (max-width:576px) {
    aside{
        width: 50px;
        padding: 10px;
    }
    aside p{
        display: none;
    }
    aside img{
        flex-direction: column;

    }
    #logo img{
        display: none;
    }
    #logo .img{
        display: block;
        opacity: 1;
        text-align: center;
    }
    #home{
        border: none;
    }
    #home img{
        text-align: center;

    }
    #cerca img{
        text-align: center;
    }
    #logo p{
        display: none;
    }
     #home p{
        display: none;
    }
     #cerca p{
        display: none;
    }
    .aside-top .playlist{
        display: none;
    }
    .aside-bottom img{
        text-align: center;
    }
    .aside-bottom p{
        display: none;
    }
    hr{
        display: none;
    }
    main{
        flex-grow: 1;
    }
    .main-top{
        width: calc(100% - 50px)
    }
    
}
