*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 90px);

}
aside {
    background-color: #080B12;
    border: 2px dashed red;

    width: 230px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
main{
    background-color: #141922;
    width: calc(100% - 230px);
    color: white;
    /* height: 100px; */
}
aside .intestazione{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#logo{
    height: 40px;
    border: 1px white solid;
    padding: 10px;
}
#home{
    height: 20px;
    border: 1px white solid;
    padding: 10px;
}
#cerca{
    height: 20px;
    border: 1px white solid;
    padding: 10px;
}
#libreria{
    height: 20px;
    border: 1px white solid;
    padding: 10px;
}
.functions{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 20px 20px 20px;
}
.functions .playlist{
    height: 20px;
    border: 1px white solid;
    padding: 10px;
}
.functions .login{
    height: 20px;
    border: 1px white solid;
    padding: 10px;
}
.main-top{
    text-align: end;
    background-color: #080B12;
    padding: 20px 5px;
}
.main-top button{
    border: 3px white solid;
    padding: 15px 40px;
    border-radius: 20px;
    background-color: #080B12;
    color: white;
}
.main-center{
   color: #7D7F84 ;
   text-align: center;
   padding: 20px 0px;
   background-color: #141922;
}
.main-center ul{
    display: flex;
    gap: 25px;
    justify-content: center;
}
.main-center ul li{
    list-style-type: none;
}
.main-center ul li:first-child hr{
    width: 50%;
    height: 2px;
    border-color: #95BF59;
    background-color: #95BF59;
    text-align: center;
}
.main-bottom .album h1{
    color: white;
    font-size: 20px;
    padding: 20px 0px 0px 20px;
}
.main-bottom .album p{
    color: white;
    font-size: 10px;
    padding: 0px 20px;
}
.main-bottom .photos{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}
.main-bottom .photos .photo{
    width: calc(100% / 6 - 20px);
    height: 100px;
    border: 2px dashed orange;
    text-align: center;
    color: white;
    /* test */
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-bottom .photos2{
    display: flex;
    padding: 20px 0px 20px 35px;
    gap: 10px;
}
.main-bottom .photos2 .photo{
    width: calc(100% / 6 - 20px);
    height: 100px;
    border: 2px dashed orange;
    text-align: center;
    color: white;
     /* test */
     display: flex;
     align-items: center;
     justify-content: center;
}
.main-bottom .photos2 .photo2{
    width: calc(100% / 6 - 20px);
    height: 100px;
    border: 2px dashed orange;
    border-radius: 50%;
    text-align: center;
    color: white;
    object-fit: cover;
     /* test */
     display: flex;
     align-items: center;
     justify-content: center;
}
footer{
    width: 100%;
    height: 90px;
    border: 2px dashed green;
    background-color: pink;
    /* position: fixed; */
    /* test */
    display: flex;
    align-items: center;
}
footer .sections{
    width: calc(100% / 3 );
    border: 1px dashed black;
    padding: 10px 0px;
   
}