h1{
    color: red;
}
.container{
    display: flex;
}
nav{
    width: 200px;
    border: 2px dashed red;
}
main{
    flex-grow: 1;
    border: 2px dashed black;
}
.container-top{
    text-align: end;
    background-color: #080B12;
    padding: 20px 5px;
}
.container-top button{
    border: 3px white solid;
    padding: 15px 40px;
    border-radius: 20px;
    background-color: #080B12;
    color: white;
}
.container-top .options{
   color: #7D7F84 ;
   text-align: center;
   padding: 20px 0px;
}
.container-top .options ul{
    display: flex;
    gap: 25px;
    justify-content: center;
}
.container-top .options ul li{
    list-style-type: none;
}
.container-top .options ul li:first-child{
    border-bottom: 2px solid #95BF59;
}